# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=SubhasishP123!
# DB_NAME=plant_shop
# SESSION_SECRET=plant_shop_super_secret_key_2024
# PORT=3001
# NODE_ENV=development


DB_HOST=72.61.241.252
DB_PORT=5432
DB_USER=plant_user
DB_PASSWORD=secret123
DB_NAME=bk0kgw04c8kgokk4coow44s0
PORT=3007
NODE_ENV=development
